.demographic-form-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.demographic-form-container1 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.demographic-form-hero {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1043px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: absolute;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: #D9D9D9;
  background-image: url('https://images.unsplash.com/photo-1657497850516-de7b59ac243b?ixid=Mnw5MTMyMXwwfDF8YWxsfDE1N3x8fHx8fDJ8fDE2NTc2ODY5NTI&ixlib=rb-1.2.1&w=1500');
  background-position: bottom;
}
.demographic-form-container2 {
  top: 469px;
  left: 915px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.demographic-form-navlink {
  left: 759px;
  color: var(--dl-color-gray-white);
  bottom: 108px;
  position: absolute;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-500);
}
.demographic-form-navlink:hover {
  transform: scale(1.02);
}
.demographic-form-text {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.demographic-form-text03 {
  top: 310px;
  left: 195px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 67px;
  max-width: 25rem;
  font-family: Arial Black;
  padding-bottom: 1px;
}
.demographic-form-image {
  top: 27px;
  left: 411px;
  width: 216px;
  height: 47px;
  position: absolute;
  object-fit: cover;
}
.demographic-form-image1 {
  top: 22px;
  left: 71px;
  width: 308px;
  height: 67px;
  position: absolute;
  object-fit: cover;
}
.demographic-form-text05 {
  right: -33px;
  bottom: -18px;
}
.demographic-form-container3 {
  top: 0px;
  flex: 0 0 auto;
  left: 423px;
  width: 354px;
  height: 506px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.demographic-form-platform {
  top: 289px;
  right: -135px;
  width: 270px;
  height: 119px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.demographic-form-text06 {
  top: -61px;
  left: 32px;
  color: #000000;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
  line-height: 1.5;
}
.demographic-form-select {
  top: -61px;
  right: -159px;
  width: 197px;
  height: 35px;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius4);
}
.demographic-form-participant-id {
  right: -164px;
  width: 301px;
  bottom: 25px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.demographic-form-text10 {
  top: -65px;
  left: 36px;
  color: var(--dl-color-gray-black);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
  line-height: 1.5;
}
.demographic-form-textinput {
  top: -70px;
  right: -130px;
  width: 198px;
  height: 42px;
  position: absolute;
  border-width: 0px;
}
.demographic-form-gender {
  right: 169-px;
  width: 301px;
  bottom: 55px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.demographic-form-text12 {
  color: var(--dl-color-gray-black);
  right: 0px;
  bottom: -7px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
  line-height: 1.5;
}
.demographic-form-textinput1 {
  right: -320px;
  width: 198px;
  bottom: -13px;
  height: 42px;
  position: absolute;
  border-width: 0px;
}
.demographic-form-location {
  right: 25px;
  width: 301px;
  bottom: -56px;
  height: 149px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.demographic-form-text14 {
  color: var(--dl-color-gray-black);
  right: -71px;
  bottom: -3px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
  line-height: 1.5;
}
.demographic-form-textinput2 {
  right: -319px;
  width: 198px;
  bottom: -11px;
  height: 42px;
  position: absolute;
  border-width: 0px;
}
.demographic-form-age {
  left: 28px;
  width: 301px;
  bottom: -167px;
  height: 149px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.demographic-form-text16 {
  color: var(--dl-color-gray-black);
  right: 30px;
  bottom: 2px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
  line-height: 1.5;
}
.demographic-form-textinput3 {
  right: -320px;
  width: 198px;
  bottom: -6px;
  height: 42px;
  position: absolute;
  border-width: 0px;
}
.demographic-form-ethnicity {
  right: 22px;
  width: 301px;
  bottom: -275px;
  height: 149px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.demographic-form-text18 {
  color: var(--dl-color-gray-black);
  right: -10px;
  bottom: -7px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
  line-height: 1.5;
}
.demographic-form-textinput4 {
  right: -321px;
  width: 198px;
  bottom: -9px;
  height: 42px;
  position: absolute;
  border-width: 0px;
}
@media(max-width: 767px) {
  .demographic-form-hero {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .demographic-form-text03 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .demographic-form-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .demographic-form-navlink {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
